
*body{
    border: 50px;
    padding: 100px;
    max-width: 960px;
    margin-left: 960px;
    margin-right: 500px;
}
img.one{
     justify-content: center;
}
.container{
    display: flex;
    height: 30vh;
}
#direction{
    display: flex;
    flex-direction: column;
    width: 25%;
}
table{
    width: 400px;
}
#up{
    font-size: 20px;
    border-bottom: 1px solid black;
    height: 15vh;
    align-items: center;
    font-style: italic;
}
#down{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    height: 15vh;
    font-size: 20px;
    background-color: #F15A29;
 
}
#two{
    background-image: url("images/breakfast.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    height: 30vh;
    width: 25%;
    font-size: 20px;
    text-align: center;
}
#three{
    background-image: url("images/lunch.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    font-style: italic;
    color: white;
    height: 30vh;
    width: 25%;
    font-size: 20px;
    align-items: center;
}
#four{
    background-image: url("images/dinner.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30vh;
    font-size: 20px;
    font-style: italic;
    color: white;
}
#navigation nav ul li a{
    list-style: none;
    text-decoration: none;
    line-height: 100px;
    display: inline-block;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.container ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 2px;
    justify-content: auto;
}
.container #up{
    display: flex;
    flex-direction: column;
}
form>input{
    color: #F15A29;
}
.paragraph1 #fastfood{
    display: flex;
    border: 1px grey;
    padding: 5px;
    float: left;
}

nav ul{
    list-style-type: none;
    background-color: grey;
}
nav li{
    float: left;
}
nav ul li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
nav.active{
    background-color: #F15A29;
}
div.input{
    background-image: url("images/subscribe.jpg");
    background-size: cover;
    height: 200px;
    font-size: 20px;
    font-weight: 500px;
}
div.menu{
    background-color: #F15A29;
    height: 150px;
    text-align: center;
    color: white;
}
div.img{
    float:left;
    clear: both;
}
div.img2{
    float: right;
    clear: both;
}
#navigation{
    background-image: url("images/foodsBg.jpg");
    text-align: center;
}.paragraph4 img{
    justify-content: center;
}